<ul class="sorting_class">
  <li id="All">All</li>
  <li id="Boots">Boots</li>
  <li id="Trainers">Trainers</li>
  <li id="Heels">Heels</li>
  <li id="Flats">Flats</li>
</ul>
<div class="sorting-spacing"></div>