<%= render "templates/navigation" %>
<%= render "templates/navigation_mobile_mens" %>
<div class="item_navigation_top_mens">
  <%= render "templates/item_navigation_mens" %>
</div>
<%= render "/templates/mobile_navigation_sliding_div_mens" %>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h2 class="about_header">About</h2>
      <div class="about_page">
        <p>InstaBoss.co provides a hub to shop products featured in curated Instagram posts of your favourite fashion and lifestyle brands.</p>
        <p>InstaBoss.co invites only the top and up & coming fashion & lifestyle brands from around the world to upload snaps featuring their gear with direct links to purchase online. All links direct you to reliable online retailers with free or affordable worldwide shipping.</p>
        <p>Easily search InstaBoss.co by category, brand, or by what is on sale providing an enhanced minimalist online shopping experience with the aesthetic pleasure of Instagram.</p>
        <p>Enjoy.</p>
        <p>InstaBoss.co</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12"></div>
  </div>
</div>
<div style="margin-bottom: 50px;"></div>