<div class="container">
  <div class="row">
    <div class="main_photo">
    </div>
  </div>
</div>

<%= render "templates/item_navigation" %>

<div class="container">
  <div class="row">
    <%= render "templates/side_navigation_mens" %>
    <%= render "templates/on_sale_three" %>
  </div>
</div>


<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2"></div>
    <%= render "templates/all_mens" %>
  </div>
</div>
