<div class="container">
  <div class="row">
    <div class="main_photo">
      <img src="assets/main_lambo.jpg" alt="main" style="height: 300px;">
    </div>
  </div>
</div>
<%= render "templates/item_navigation" %>

<div class="container">
  <div class="row">
    <%= render "templates/side_navigation_mens" %>
    <%= render "templates/on_sale_three" %>
  </div>
</div>
