<div class="container foot">
  <div class="row">
    <div class="footer">
      <ul>
        <li>stuf</li>
        <li>stuf</li>
        <li>stuf</li>
        <li>stuf</li>
      </ul>
    </div>
  </div>
</div>