<ul class="sorting_class">
  <li id="All">All</li>
  <li id="Lingerie">Lingerie & Underwear</li>
  <li id="Hats">Hats</li>
  <li id="Bags">Bags & Purses</li>
  <li id="Jewellery">Jewellery</li>
</ul><br><br>