<div class="col-md-10 col-sm-10 col-xs-10">
  <h1>Womens</h1>
  <% @womens.each do |item| %>
    <div class="box">
      <%= image_tag item.item_image.url(:medium) %>
      <p><%= item.sex %></p>
      <p><%= item.brand %></p>
      <p><%= item.description %></p>
    </div>
  <% end %>
</div>

