<div class="col-md-10 col-sm-8 col-xs-8" style="padding: 0px;">
  <h1>Mens</h1>
  <% @mens.each do |men_items| %>
    <a href="/item/<%= men_items.id %>">
      <div class="box col-md-4 col-sm-6 col-xs-12" style="padding: 0px;">
        <div class="div_specials">
          <table style="width: 100%;">
            <tr class="normal_table">
              <td style="width: 150px;">&nbsp</td>
              <td style="width: 150px;">&nbsp</td>
              <td><em>$<%= men_items.price %></em></td>
            </tr>
          </table>
        </div>
        <span class="helper"></span>
        <%= image_tag men_items.item_image.url(:medium), class: "box-image;"%>
        <div class="description_item">
          <div class="description_content">
            <p><%= "short headline here 25 characters max" %></p>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>