<div class="container">
  <div class="row">
    <ul class="item_nav">
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "ABOUT", site_about_path %></li>
      <li>SHOP BY - dropdown</li>
      <li>BRANDS - dropdown</li>
      <li><%= link_to "SALE", sale_path %></li>
      <li><%= link_to "CONTACT", site_contact_path %></li>
    </ul>
  </div>
</div>