<% womens_categories = {'All': 'all/women', 'Accessories': '/women/accessorie', 'Dresses': '/women/dress','Jeans Trousers & Leggings': '/women/jean_legging' , 'Home & Lifestyle': '/women/lifestyle', 'Shoes': '/women/shoe' , 'Shorts & Skirts': '/women/short_skirt', 'Sunglasses & Watches': '/women/sunglass_watch' , 'Swim & Beachwear': '/women/swim_beachwear', 'Tops': '/women/top' }; %>

<div class="container">
  <div class="row">
    <div class="nav-cat-div">
      <ul class="item_nav">
        <li><%= link_to "HOME", root_path%></li>
        <li class="refine"><%= link_to "SHOP BY" %></li>
        <li><%= link_to "ON SALE", site_sale_womens_path %></li>
        <ul class="nav-cat-ul">
          <% womens_categories.each do |keys, values| %>
          <li><%= link_to keys, values %></li>
        <% end %>
        </ul>
      </ul>
    </div>
  </div>
</div>

