  <% womens_categories = {'All': 'all/women', 'Accessories': '/women/accessorie', 'Dresses': '/women/dress','Jeans Trousers & Leggings': '/women/jean_legging' , 'Home & Lifestyle': '/women/lifestyle', 'Shoes': '/women/shoe' , 'Shorts & Skirts': '/women/short_skirt', 'Sunglasses & Watches': '/women/sunglass_watch' , 'Swim & Beachwear': '/women/swim_beachwear', 'Tops': '/women/top' }; %>


<div class="hamburger-slider">
  <div class="container">
    <div class="row">
      <ul>
        <li>Shop by</li>
        <% womens_categories.each do |keys, values| %>
          <li><%= link_to keys, values %></li>
        <% end %>
        <li>Brands</li>
        <li>On Sale</li>
        <li>About / Contact</li>
      </ul>
    </div>
  </div>
</div>