<div class="mobile_nav">
  <ul>
    <% if !current_user && !current_admin %>
      <!-- <li><em><%= link_to "ClientLogin", new_user_session_path, class: "client-login" %></em></li> -->
      <li><%= link_to "WOMENS", women_path %></li>
    <% end %>
  </ul>
</div>