<div class="col-md-10 col-sm-10 col-xs-10">
  <h1>on Sale</h1>
  <% @special_three.each do |specials| %>
    <div class="box" style="float: left; margin-right: 100px;">
      <%= image_tag specials.item_image.url(:medium), style: "width:200px; height:200px;" %>
      <p><%= specials.sex %></p>
      <p><%= specials.brand %></p>
      <p><%= specials.description %></p>
    </div>
  <% end %>
</div>