<ul class="sorting_class">
  <li id="All">All</li>
  <li id="Accessories">Accessories</li>
  <li id="Dresses">Dresses</li>
  <li id="Jeans">Jeans Trousers & Leggings</li>
  <li id="Home">Home & Lifestyle</li><br>
  <li id="Shoes">Shoes</li>
  <li id="Shorts">Shorts & Skirts</li>
  <li id="Sunglasses">Sunglasses & Watches</li>
  <li id="Swim">Swim & Beachwear</li>
  <li id="Tops">Tops</li>
</ul><br><br>