<ul class="sorting_class all_items_nav">
  <li id="All">All</li>
  <li id="Accessories">Accessories</li>
  <li id="Formal">Formal</li>
  <li id="Lifestyle">Lifestyle</li><br>
  <li id="Longs">Longs</li>
  <li id="Shoes">Shoes</li>
  <li id="Shorts">Shorts & Swimwear</li>
  <li id="Sunglasses">Sunglasses & Watches</li>
  <li id="Tops">Tops</li>
</ul><br><br>