<ul class="sorting_class_tops">
  <li id="All">All</li>
  <li id="T-Shirts">T-Shirts & Vests</li>
  <li id="Shirts">Shirts & Blouses</li>
  <li id="Hoodies">Hoodies & SweatShirts</li>
  <li id="Jackets">Jackets & Coats</li>
  <li id="Formal">Formal</li>
</ul><br><br>