<ul class="sorting_class">
  <li id="All">All</li>
  <li id="T-Shirts">T-Shirts & Vests</li>
  <li id="Shirts">Shirts & Blouses</li>
  <li id="Hoodies">Hoodies & Sweatshirts</li>
  <li id="Jackets">Jackets & Coats</li>
</ul><br><br>