$calisto: "Calisto MT Regular";

.index-divider{
  height: 70px;
}
.index-main{
  position: fixed;
  height: 70px;
  font-family: $calisto;
  width: 100%;
  background-color:white;
  z-index: 10;
  h1{
    text-align: center;
    margin-top: 10px;
    font-size: 55px;
  }
}


.main_page_photo{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 350px;
  background-image: url("../main_splash.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 65%;
  position: relative;
  .root-paragraph-one{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    p{
      margin: 0px;
      background-color: rgba(255,255,255,1);
      color: black;
      box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
      font-family: $calisto;
      font-size: 25px;
    }
  }
}
.shop-womens-banner{
  background-image: url("../womens_items.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: 50% 5%;
}

.shop-mens-banner{
  background-image: url("../men_items.png");
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.no-padding{
  padding: 0px !important;
}

.main-root-index-mens-womens{
  padding: 10px;
  h2{
    margin-top: 0px;
    position: relative;
    transition: background-color 0.5s ease;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    height: 100%;
    vertical-align: middle;
    line-height: 250px;
    font-family: $calisto;
    font-size: 50px;
    &:hover{
      cursor: pointer;
      background-color: rgba(0,0,0,0.5);
    }
  }
}
.womens-root{
  padding-left: 5px;
}
.mens-root{
  padding-right: 5px;
}
.main-root-shop{
  padding: 0px;
}

#carosel-brands{
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 100%;
  height: 150px;
}

.brand-images{
  display: block;
  width: 5224px;
  height: 150px;
  margin-left: 0px;
  padding: 0px;
}

.slide{
  float: left;
  margin: 0px;
  list-style-type: none;
  img{
    height: 125px;
  }
}

.root-hr{
  margin: 0px 0px 5px 0px;

}

.root-paragraph-two{
  text-align: center;
  font-size: 20px;
}




.worldwide_shipping_main{
  p{
    text-align: center;
    font-size: 20px;
    font-family: "Calisto MT Regular";
    margin-bottom: 50px;
  }
  [alt="shipping-icon"]{
    width: 130px;
    display: block;
    margin: 0px auto 0px auto;
  }
}
