<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li id="All">All</li>
    <li id="Day">Day Dresses</li>
    <li id="Evening">Evening Dresses</li>
    <li id="Playsuits">PlaySuits</li>
  </ul>
</div>
