<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li><%= link_to "All", women_dress_path %></li>
    <li><%= link_to "Day Dresses", women_dress_day_path %></li>
    <li><%= link_to "Evening Dresses", women_dress_evening_path %></li>
    <li><%= link_to "Playsuits", women_dress_playsuit_path %></li>
  </ul>
</div>
