<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li id="All">All</li>
    <li id="Jeans">Jeans</li>
    <li id="Trousers">Trousers</li>
    <li id="Leggings">Leggings</li>
  </ul>
</div>
