<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li id="All">All</li>
    <li id="Accessories">Accessories</li>
    <li id="Dresses">Dresses</li>
    <li id="Jeans">Jeans, Trousers & Leggings</li>
    <li id="Home">Home & Lifestyle</li>
    <li id="Shorts">Shorts & Skirts</li>
    <li id="Sunglasses">Sunglasses & Watches</li>
    <li id="Shoes">Shoes</li>
    <li id="Tops">Tops</li>
    <li id="Swim">Swim & Beachwear</li>
  </ul>
</div>