<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li><%= link_to "All", women_short_path %></li>
    <li><%= link_to "Shorts", women_short_short_only_path %></li>
    <li><%= link_to "Skirts", women_short_skirt_path %></li>
  </ul>
</div>
