<div class="all-categories">
  <h1>Items +</h1>
  <ul class="sorting-class-desktop">
    <li id="All">All</li>
    <li id="Boots">Boots</li>
    <li id="Trainers">Trainers</li>
    <li id="Heels">Heels</li>
    <li id="Flats">Flats</li>
  </ul>
</div>
