<div class="all-categories">
  <h1>Items +</h1>
  <ul class="sorting-class-desktop">
    <li><%= link_to "All", women_short_swimwear_path %></li>
    <li><%= link_to "Bikinis", women_short_swimwear_bikini_path %></li>
    <li><%= link_to "Swimsuits", women_short_swimwear_swimsuit_path %></li>
    <li><%= link_to "Other", women_short_swimwear_other_path %></li>
  </ul>
</div>
