<div class="all-categories">
  <h1>Items +</h1>
  <ul class="sorting-class-desktop">
    <li id="All">All</h1>
    <li id="Hats">Hats</li>
    <li id="Bags">Bags</li>
    <li id="Jewellery">Jewellery</li>
    <li id="Other">Other</li>
  </ul>
</div>