<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li id="All">All</li>
    <li id="Jackets">Jackets & Coats</li>
    <li id="Suits">Suits</li>
    <li id="Accessories">Accessories</li>
  </ul>
</div>
