<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li><%= link_to "All", men_formal_path %></li>
    <li><%= link_to "Jackets & Coats", men_formal_jacket_coat_path %></li>
    <li><%= link_to "Suits", men_formal_suit_path %></li>
    <li><%= link_to "Accessories", men_formal_accessorie_path %></li>
  </ul>
</div>
