<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li><%= link_to "All", men_long_path %></li>
    <li><%= link_to "Jeans", men_long_jean_path %></li>
    <li><%= link_to "Chinos", men_long_chino_path %></li>
    <li><%= link_to "Joggers", men_long_jogger_path %></li>
  </ul>
</div>