<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li id="All">All</li>
    <li id="Accessories">Accessories</li>
    <li id="Formal">Formal</li>
    <li id="Lifestyle">Lifestyle</li>
    <li id="Longs">Longs</li>
    <li id="Shoes">Shoes</li>
    <li id="Shorts">Shorts & Swimwear</li>
    <li id="Tops">Tops</li>
    <li id="Sunglasses">Sunglasses & Watches</li>
  </ul>
</div>
