<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li id="All">All</li>
    <li id="Boat">Boat & Loafers</li>
    <li id="Trainers">Trainers</li>
    <li id="Boots">Boots</li>
    <li id="Formal">Formal</li>
    <li id="Other">Other</li>
  </ul>
</div>