<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li id="All">All</li>
    <li id="Casual">Casual</li>
    <li id="Going">Going Out</li>
    <li id="Working">Working Out</li>
    <li id="Other">Other</li>
  </ul>
</div>

