<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li id="All">All</li>
    <li id="Sunglasses">Sunglasses</li>
    <li id="Watches">Watches</li>
  </ul>
</div>
