<div class="all-categories">
  <h1>Items +</h1>
  <ul class="sorting-class-desktop">
    <li id="All">All</li>
    <li id="T-Shirts">T-Shirts & Polos</li>
    <li id="Shirts">Shirts</li>
    <li id="Hoodies">Hoodies & Sweatshirts</li>
    <li id="Jackets">Jackets & Coats</li>
  </ul>
</div>
