<div class="footer">
  <%= render 'templates/mail_chimp_form_mens' %>

  <ul>
    <li>SEARCH</li>
    <li>ABOUT US</li>
    <li>FAQ</li>
    <li>BLOG</li>
    <li>CONTACT</li>
    <li>CLIENT LOGIN</li>
  </ul>

</div>

