<%= render "templates/horizontal_line" %>
<div class="complete-footer">
  <div class="mail-chimp-form">
    <%= render 'templates/mail_chimp_form_womens' %>
  </div>

  <div class="footer-navigation">
    <ul>
      <a href="search"><li>SEARCH</li></a>
      <a href="blog/index"><li>BLOG</li></a>
      <a href="men/about"><li>ABOUT</li></a>
      <a href="men/contact"><li>CONTACT</li></a>
      <a href="client/new"><li>CLIENT</li></a>
    </ul>
  </div>

  <div class="social-media">
    <img src="/assets/social_media_icons/fb-icon.png" alt="">
    <a href="https://www.instagram.com/instaboss.mens/?hl=en" target="_blank"><img src="/assets/social_media_icons/instagram-icon.png" alt=""></a>
  </div>

  <div class="copyright">
    <p>&copy; Instaboss 2016. All Rights Reserved</p>
  </div>
</div>