<%= render "templates/horizontal_line" %>
<div class="complete-footer">
  <div class="mail-chimp-form">
    <%= render 'templates/mail_chimp_form_mens' %>
  </div>

  <div class="footer-navigation">
    <ul>
      <li>SEARCH</li>
      <li>ABOUT US</li>
      <li>FAQ</li>
      <li>BLOG</li>
      <li>CONTACT</li>
      <li>CLIENT</li>
    </ul>
  </div>

  <div class="social-media">
    <img src="/assets/social_media_icons/fb-icon.png" alt="">
    <img src="/assets/social_media_icons/instagram-icon.png" alt="">
  </div>

  <div class="copyright">
    <p>&copy; Instaboss 2016. All Rights Reserved</p>
  </div>

</div>

