<ul class="sorting_class">
  <li id="All">All</li>
  <li id="Jackets">Jackets & Coats</li>
  <li id="Suits">Suits</li>
  <li id="Accessories">Accessories</li>
</ul>
<div class="sorting-spacing"></div>