<ul class="sorting_class">
  <li id="All">All</li>
  <li id="Boat">Boat & Loafers</li>
  <li id="Trainers">Trainers</li>
  <li id="Boots">Boots</li>
  <li id="Formal">Formal</li>
  <li id="Other">Other</li>
</ul>