<div class="index-main">
  <h1>InstaBoss</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="banners-main col-md-12 no-pad">
      <div class="text-above-mens-womens">
        <p>Shop curated Instagram posts of your favourite<br> fashion & lifestyle brands - all in one place.</p>
      </div>
      <div class="shop-mens-banner col-md-6">
        <a href="/men">
          <h2>SHOP MENS</h2>
        </a>
      </div>
      <div class="shop-womens-banner col-md-6">
        <a href="/women">
          <h2>SHOP WOMENS</h2>
        </a>
      </div>
      <div class="text-under-mens-womens">
        <p>Shop curated Instagram posts of your favourite<br> fashion & lifestyle brands - all in one place.</p>
      </div>
    </div>
  </div>
</div>
<div class="root-paragraph-two">
  <p>100’s of listings added weekly featuring 50+ of the top brands</p>
</div>
<div id="carosel-brands">
  <ul class="brand-images">
    <li class="slide-brands"><img src="assets/caro-1.png" alt="caro1"></li>
    <li class="slide-brands"><img src="assets/caro-2.png" alt="caro2"></li>
    <li class="slide-brands"><img src="assets/caro-3.png" alt="caro3"></li>
    <li class="slide-brands"><img src="assets/caro-1.png" alt="caro4"></li>
    <li class="slide-brands"><img src="assets/caro-2.png" alt="caro2"></li>
  </ul>
</div>
<div class="root-paragraph-two">
  <p>Shop the top online retailers</p>
</div>
<div id="carosel-retail">
  <ul class="retail-images">
    <li class="slide-retail"><img src="assets/retail-1.png" alt="retail1"></li>
    <li class="slide-retail"><img src="assets/retail-2.png" alt="retail2"></li>
    <li class="slide-retail"><img src="assets/retail-3.png" alt="retail3"></li>
    <li class="slide-retail"><img src="assets/retail-1.png" alt="retail4"></li>
    <li class="slide-retail"><img src="assets/retail-2.png" alt="retail2"></li>
  </ul>
</div>

<div class="footer-main-desktop">
  <div class="container-fluid">
    <div class="row">
      <div class="left-ib-log col-md-2 col-sm-2">
        <p>Instabossoss</p>
      </div>
      <div class="center-ib-log col-md-8 col-sm-8">
      <ul>
        <li>HOME</li>
        <li>MENS</li>
        <li>WOMENS</li>
        <li>ABOUT</li>
        </ul>
      </div>
      <div class="right-ib-log col-md-2 col-sm-2">
        <div class="social-icon-main">
          <a href="facebook"><img src="assets/social_media_icons/facebook-white.png"></a>
          <a href="pinterest"><img src="assets/social_media_icons/pinterest-white.png"></a>
          <a href="insta"><img src="assets/social_media_icons/instagram-white.png"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="all-rights">
    <p>copyright instaboss 2017</p>
  </div>
</div>

<div class="footer-main-mob">
  <div class="container-fluid">
    <div class="row">
      <div class="left-mob">
      <ul>
        <li>HOME</li>
        <li>MENS</li>
        <li>WOMENS</li>
        <li>ABOUT</li>
        </ul>
      </div>
      <div class="mid-mob">
        <p>InstaBoss</p>
      </div>
      <div class="right-mob">
        <div class="social-icon-main">
          <a href="facebook"><img src="assets/social_media_icons/facebook-white.png"></a>
          <a href="pinterest"><img src="assets/social_media_icons/pinterest-white.png"></a>
          <a href="insta"><img src="assets/social_media_icons/instagram-white.png"></a>
        </div>
      </div>
    </div>
    <div class="all-rights-mob">
      <p>copyright instaboss 2017</p>
    </div>
  </div>
</div>

<!--

<div class="social-icons-root">
<a href="https://www.instagram.com/instaboss.co" target="_blank"><img src="assets/instagram-logo.png" alt=""></a>
<a href="https://www.facebook.com/instabossco/" target="_blank"><img src="assets/facebook-logo.png" alt=""></a>
  <p>Instaboss 2016 All Rights Reserved</p>
</div> -->