<%= render "templates/mobile_nav/navigation_main" %>
<%= render "templates/mobile_nav/navigation_mobile_mens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_mens" %>
<%= render "templates/mens/navigation/navigation" %>
<div class="main_page_photo"></div>
<div class="container">
  <div class="row">
    <div class="call_to_action">
      <div class="col-md-12 col-sm-12 col-xs-12">
      <hr style="height:1px; border:none; color:#333; background-color:#333;margin-top:60px;" />
        <h3>Shop curated Instagram posts of your favourite fashion & lifestyle brands all in one place</h3>
      <hr style="height:1px; border:none; color:#333; background-color:#333;margin-top:30px;" />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="index_men_women">
      <div class="col-md-5 col-sm-6 col-xs-12 one">
        <a href="/men">
          <h2>MEN'S</h2>
          <div class="mens_main">
            <div class="overlay"></div>
          </div>
        </a>
      </div>
      <div class="col-md-5 col-sm-6 col-xs-12 two">
        <a href="/women">
          <h2>WOMEN'S</h2>
          <div class="womens_main">
            <div class="overlay"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="logos">
      <div class="col-md-12 col-sm-12 col-xs-12">
      <h3>100’s of listings added weekly featuring 50+ of the top brands</h3>
      <div class="rectangle_left">
        <img src="assets/just_another_fisherman.jpg" alt="just_another_fisherman" class="images">
        <img src="assets/retromarine.jpg" alt="retro_marine" class="text">
        <img src="assets/new-balance-n-logo-0.jpg" alt="new_balance" class="images">

        <br>
        <img src="assets/moreporks_brand.jpg" alt="moreporks" class="images">
        <img src="assets/iloveugly003.jpg" alt="i_love_ugly" class="text">
        <img src="assets/adidas-logo-black.jpg" alt="adidas" class="images">
      </div>


      <div class="rectangle_right">
        <img src="assets/alice_mccall_brand.jpg" alt="alice_mccall" class="text">
        <img src="assets/auguste_brand.jpg" alt="auguste" class="images">
        <img src="assets/tony bianco logo.gif" alt="tony_bianco" class="text"><br>

        <img src="assets/sunday-somewhere-logo.jpg" alt="sunday_somewhere" class="text">
        <img src="assets/vic_brand.png" alt="victorias_secret" class="images">
        <img src="assets/Logo-a3.jpg" alt="showpo" class="text">
      </div>
    </div>
    </div>
  </div>
</div>
<div class="worldwide_shipping_main">
  <img src="assets/shippingIcon.png" alt="shipping-icon">
  <p>Worldwide Shipping</p>
</div>