<div class="container">
  <div class="row">
    <div class="main_page_photo">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="call_to_action">
      <div class="col-md-12 col-sm-12 col-xs-12">
      <hr style="height:1px; border:none; color:#333; background-color:#333;margin-top:30px;" />
        <h3>The Hottest fashion & lifestyle products as seen on Instagram with direct links to purchase</h3>
      <hr style="height:1px; border:none; color:#333; background-color:#333;margin-top:30px;" />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="index_men_women">
      <div class="col-md-5 col-sm-6 col-xs-12 one">
        <a href="/men">
          <h2>MENS</h2>
          <div class="mens_main">
          </div>
        </a>
      </div>
      <div class="col-md-5 col-sm-6 col-xs-12 two">
        <a href="/women">
          <h2>WOMENS</h2>
          <div class="womens_main">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="logos">
      <div class="col-md-12 col-sm-12 col-xs-12">
      <h3>our brands</h3>
      <div class="rectangle"></div>
    </div>
    </div>
  </div>
</div>