<div class="container">
  <div class="row">
    <div class="index_main">
      <div class="col-md-3 col-sm-6 col-xs-12  one">
        <h1><%= link_to "WOMENS", women_path %></h1>
        <img src="assets/girl_main.jpg" alt="main">
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 two">
        <h1><%= link_to "MENS", men_path %></h1>
        <img src="assets/girl_main.jpg" alt="main">
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 three">
        <h1><%= link_to "KIDS", kid_path %></h1>
        <img src="assets/girl_main.jpg" alt="main">
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 four">
        <h1><%= link_to "SALE", sale_path %></h1>
        <img src="assets/girl_main.jpg" alt="main">
      </div>
    </div>
  </div>
</div>