<div class="container">
  <div class="row">
    <div class="index_main">
      <div class="col-md-3 col-sm-6 col-xs-12  one">
        <h1><a href="http://www.w3schools.com">WOMEN</a></h1>
        <img src="assets/girl_main.jpg" alt="main">
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 two">
        <h1><a href="http://www.w3schools.com">MENS</a></h1>
        <img src="assets/girl_main.jpg" alt="main">
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 three">
        <h1><a href="http://www.w3schools.com">KIDS</a></h1>
        <img src="assets/girl_main.jpg" alt="main">
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 four">
        <h1><a href="http://www.w3schools.com">SALE</a></h1>
        <img src="assets/girl_main.jpg" alt="main">
      </div>
    </div>
  </div>
</div>