<div class="index-main">
  <h1>InstaBoss</h1>
</div>
<div class="main_page_photo"></div>
<div class="root-paragraph-one">
  <p>Shop curated Instagram posts of your favourite fashion & lifestyle brands all in one place</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
      <div class="main-root-index-mens-womens mens-root">
        <div class="shop-mens-banner">
          <a href="/men">
            <h2>SHOP MENS</h2>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
      <div class="main-root-index-mens-womens womens-root">
        <div class="shop-womens-banner">
          <a href="/women">
            <h2>SHOP WOMENS</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="root-paragraph-two">
  <p><i>100’s of listings added weekly featuring 50+ of the top brands</i></p>
</div>
<div id="carosel-brands">
  <ul class="brand-images">
    <li class="slide-brands"><img src="assets/caro-1.png" alt="caro1"></li>
    <li class="slide-brands"><img src="assets/caro-2.png" alt="caro2"></li>
    <li class="slide-brands"><img src="assets/caro-3.png" alt="caro3"></li>
    <li class="slide-brands"><img src="assets/caro-1.png" alt="caro4"></li>
    <li class="slide-brands"><img src="assets/caro-2.png" alt="caro2"></li>
  </ul>
</div>
<div class="root-paragraph-two">
  <p><i>Shop the top online retailers</i></p>
</div>
<div id="carosel-retail">
  <ul class="retail-images">
    <li class="slide-retail"><img src="assets/retail-1.png" alt="retail1"></li>
    <li class="slide-retail"><img src="assets/retail-2.png" alt="retail2"></li>
    <li class="slide-retail"><img src="assets/retail-3.png" alt="retail3"></li>
    <li class="slide-retail"><img src="assets/retail-1.png" alt="retail4"></li>
    <li class="slide-retail"><img src="assets/retail-2.png" alt="retail2"></li>
  </ul>
</div>
<div class="social-icons-root">
  <img src="assets/instagram-logo.png" alt="">
  <img src="assets/facebook-logo.png" alt="">
  <p>Instaboss 2016 All Rights Reserved</p>
</div>