<div class="container">
  <div class="row">
    <div class="index_main">
      <div class="col-md-3 col-sm-6 col-xs-12 one">
        <a href="/women">
        <h1>WOMENS</h1>
          <img src="assets/girl_main.jpg" alt="main">
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 two">
        <a href="/men">
          <h1>MENS</h1>
          <img src="assets/girl_main.jpg" alt="main">
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 three">
        <a href="/kid">
          <h1>KIDS</h1>
          <img src="assets/girl_main.jpg" alt="main">
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 four">
        <a href="/sale">
          <h1>SALE</h1>
          <img src="assets/girl_main.jpg" alt="main">
        </a>
      </div>
    </div>
  </div>
</div>
