<div class="container">
  <div class="row">
    <div class="main_photo">
      <img src="assets/main_lambo.jpg" alt="main">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="call_to_action">
      <div class="col-md-12 col-sm-12 col-xs-12">
      <hr>
        <h3>The Hottest fashion & lifestyle products as seen on Instagram with direct links to purchase</h3>
      <hr>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="index_men_women">
      <div class="col-md-1"></div>
      <div class="col-md-5 col-sm-6 col-xs-12 one">
        <a href="/men">
        <h2>MENS</h2>
          <img src="assets/shoes.jpg" alt="main">
        </a>
      </div>
      <div class="col-md-5 col-sm-6 col-xs-12 two">
        <a href="/women">
          <h2>WOMENS</h2>
          <img src="assets/womens.jpg" alt="main">
        </a>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="logos">
      <div class="col-md-12 col-sm-12 col-xs-12">
      <h3>our brands</h3>
      <div class="rectangle"></div>
    </div>
    </div>
  </div>
</div>