<div class="index-main">
  <h1>InstaBoss</h1>
</div>

<div class="index-divider"></div>


<div class="main_page_photo">
  <!-- <div class="root-paragraph-one">
    <p><u>Shop curated Instagram posts of your favourite fashion & lifestyle brands all in one place</u></p>
  </div> -->
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
      <div class="main-root-index-mens-womens mens-root">
        <div class="shop-mens-banner">
          <h2>SHOP MENS</h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
      <div class="main-root-index-mens-womens womens-root">
        <div class="shop-womens-banner">
          <h2>SHOP WOMENS</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="root-hr">
<div class="root-paragraph-two">
  <p>100’s of listings added weekly featuring 50+ of the top brands</p>
</div>

<div id="carosel-brands">
  <ul class="brand-images">
    <li class="slide"><img src="assets/caro-1.png" alt="caro1"></li>
    <li class="slide"><img src="assets/caro-2.png" alt="caro2"></li>
    <li class="slide"><img src="assets/caro-3.png" alt="caro3"></li>
    <li class="slide"><img src="assets/caro-1.png" alt="caro4"></li>
    <li class="slide"><img src="assets/caro-2.png" alt="caro2"></li>
  </ul>
</div>
<hr class="root-hr">


<!--
<div class="worldwide_shipping_main">
  <img src="assets/shippingIcon.png" alt="shipping-icon">
  <p>Worldwide Shipping</p>
</div> -->