<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
  <h1>Sale</h1>
  <% @sale.each do |all_specials| %>
    <div class="box col-md-3 col-sm-4 col-xs-6" style="padding: 0px;">
      <div class="div_specials">
        <table style="width: 100%;">
          <tr class="specials_table">
            <td><em>25% off</em></td>
            <td><strike><em>$<%= all_specials.price %>0</em></strike></td>
            <td>$<%= all_specials.sale_price %>0</td>
          </tr>
        </table>
      </div>
      <span class="helper"></span>
      <%= image_tag all_specials.item_image.url(:medium), class: "box-image;"%>
      <div class="description_item">
        <div class="description_content">
          <%= "short headline here 25 characters max" %>
        </div>
      </div>
    </div>
  <% end %>
</div>