<%= render "templates/mobile_nav/navigation_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>

<div class="photo-blog-container ">
  <h1 class="blog-header">Summer Lovin with Auguste the label</h1>
  <img src="/assets/womens_blog/blog-aug-2.jpg" border="0" alt="auguste-1" class="img-responsive center-block">
  <p>We adore these girls - Corina is a jewellery entrepreneur and fashion blogger and writes like her words are dipped in raw honey...The two packed their bags full of easy-to-wear Auguste pieces and headed for Costa Rica. I know you took us with you, but next type can you - like physically - take us with you?</p>
  <img src="/assets/womens_blog/blog-aug-5.jpg" border="0" alt="auguste-2" class="img-responsive center-block">
  <img src="/assets/womens_blog/blog-aug-3.jpg" border="0" alt="auguste-3" class="img-responsive center-block">
  <img src="/assets/womens_blog/blog-aug-1.jpg" border="0" alt="auguste-4" class="img-responsive center-block">
  <img src="/assets/womens_blog/blog-aug-4.jpg" border="0" alt="auguste-5" class="img-responsive center-block">
  <p class="shop-more-blog">Shop more from Auguste</p>
</div>

<div class="show-button">
  <a href="/women_brand/auguste" target="_blank">
    <img src="/assets/shop now.png">
  </a>
</div>