<%= render "templates/mobile_nav/navigation_main" %>
<%= render "templates/mobile_nav/navigation_mobile_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>

<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items">Blog</h1>
    <div class="all-blogs center-blogs">

      <div class="col-md-4 col-sm-6 col-xs-12 blog">
        <a href="/blog/auguste_blog">
          <img src="/assets/womens_blog/blog-aug.jpg" border="0" alt="auguste_blog" class="img-responsive center-block blog-img">
        </a>
        <div class="blog-description">
          <p><i>11/10/16</i></p>
          <p><i>Summer Lovin with Auguste the label</i></p>
          <a href="/blog/auguste_blog"><u><i>See more</i></u></a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 blog">
        <a href="/blog/showpo_blog">
          <img src="/assets/womens_blog/blog-showpo.jpg" border="0" alt="showpo_blog" class="img-responsive center-block blog-img">
        </a>
        <div class="blog-description">
          <p><i>8/9/16</i></p>
          <p><i>New Swimwear by Showpo</i></p>
          <a href="/blog/showpo_blog"><u><i>See more</i></u></a>
        </div>
      </div>

<!--       <div class="col-md-4 col-sm-6 col-xs-12 blog">
        <a href="/blog/retromarine_blog">
          <img src="/assets/retro_blog/.jpg" border="0" alt="womens" class="img-responsive center-block blog-img">
        </a>
        <div class="blog-description">
          <p><i>2/11/16</i></p>
          <p><i></i></p>
          <a href="/blog/mvp_blog"><u><i>See more</i></u></a>
        </div>
      </div> -->

    </div>
  </div>
</div>
