<%= render "templates/mobile_nav/navigation_main" %>
<%= render "templates/mobile_nav/navigation_mobile_mens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_mens" %>
<%= render "templates/mens/navigation/navigation" %>
<div class="photo-blog-container ">
  <h1 class="blog-header">Spanish Vacation Swimwear by Retro Marine</h1>
  <img src="/assets/retro_blog/retro_3.jpg" border="0" alt="mvp_bag" class="img-responsive center-block">
  <p>At retromarine, our top priority is to capture our customer’s imagination by demanding the highest standards of ourselves and the materials we work with. Founded and based in New York City, our distinctive, handmade trunks are crafted for the modern man who values passion and confidence in every facet of his life. they are perfect aesthetics for the mantelpiece or pool room.</p>
  <img src="/assets/retro_blog/retro_7.jpg" border="0" alt="retro_7" class="img-responsive center-block">
  <img src="/assets/retro_blog/retro_4.jpg" border="0" alt="retro_4" class="img-responsive center-block">
  <img src="/assets/retro_blog/retro_2.jpg" border="0" alt="retro_2" class="img-responsive center-block">
  <img src="/assets/retro_blog/retro_8.jpg" border="0" alt="retro_8" class="img-responsive center-block">
  <p class="shop-more-blog">Shop more from Retromarine</p>
</div>

<div class="show-button">
  <a href="/men_brand/retro_marine" target="_blank">
    <img src="/assets/shop now.png">
  </a>
</div>
