<%= render "templates/mobile_nav/navigation_main" %>
<%= render "templates/mobile_nav/navigation_mobile_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>

<div class="photo-blog-container ">
  <h1 class="blog-header">Just Another Fisherman 2016 Summer Campaign</h1>
  <img src="/assets/jaf_blog/jaf1.jpg" border="0" alt="jaf1" class="img-responsive center-block">
  <p>Just Another Fisherman is a label that prides itself on the design and execution of clothing that is comfortable, efficient, practical and that serves its purpose on the water, in the great outdoors and in the street. We’ve worked hard over the last few years to bridge the gap between comfortable outdoors attire and classic streetwear to create what is now a leading and recognized outdoors lifestyle label.</p>
  <img src="/assets/jaf_blog/jaf2.jpg" border="0" alt="jaf2" class="img-responsive center-block">
  <img src="/assets/jaf_blog/jaf_3.jpg" border="0" alt="jaf_3" class="img-responsive center-block">
  <img src="/assets/jaf_blog/jaf_4.jpg" border="0" alt="jaf_4" class="img-responsive center-block">
  <img src="/assets/jaf_blog/jaf_5.jpg" border="0" alt="jaf_5" class="img-responsive center-block">
  <img src="/assets/jaf_blog/jaf_6.jpg" border="0" alt="jaf_6" class="img-responsive center-block">
  <img src="/assets/jaf_blog/jaf_7.jpg" border="0" alt="jaf_7" class="img-responsive center-block">
  <img src="/assets/jaf_blog/jaf_8.jpg" border="0" alt="jaf_8" class="img-responsive center-block">
  <p class="shop-more-blog">Shop more from Just Another Fisherman</p>
</div>

<div class="show-button">
  <a href="/men_brand/just_another_fisherman" target="_blank">
    <img src="/assets/shop now.png">
  </a>
</div>