<%= render "templates/mobile_nav/navigation_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>

<div class="photo-blog-container ">
  <h1 class="blog-header">New Swimwear Range by Showpo</h1>
  <img src="/assets/womens_blog/blog-showpo-1.jpg" border="0" alt="jaf1" class="img-responsive center-block">
  <p>Showpo has unveiled their newest swimwear range, the Sunkissed Sands Collection. Beach babes Natalie Roser and Brooke Nash sizzle in this campaign with their wind-swept blonde hair, long bronzed limbs and toned physiques. Luxe fabrics, risque styles, and on-trend muted hues are the base of this collection; with pops of white and splashes of stripes mixed in for good measure.</p>
  <img src="/assets/womens_blog/blog-showpo-2.jpg" border="0" alt="jaf2" class="img-responsive center-block">
  <img src="/assets/womens_blog/blog-showpo-3.jpg" border="0" alt="jaf_3" class="img-responsive center-block">
  <img src="/assets/womens_blog/blog-showpo-4.jpg" border="0" alt="jaf_4" class="img-responsive center-block">
  <img src="/assets/womens_blog/blog-showpo-5.jpg" border="0" alt="jaf_5" class="img-responsive center-block">
  <img src="/assets/womens_blog/blog-showpo-6.jpg" border="0" alt="jaf_6" class="img-responsive center-block">
  <img src="/assets/womens_blog/blog-showpo-7.jpg" border="0" alt="jaf_7" class="img-responsive center-block">
  <p class="shop-more-blog">Shop more from Showpo</p>
</div>

<div class="show-button">
  <a href="/women_brand/showpo" target="_blank">
    <img src="/assets/shop now.png">
  </a>
</div>