.form-box{
  margin-top: 50px;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px #bbb;
  padding: 10px 25px 10px 25px;
}

.sub-button{
  float: right;
}

.col-md-10 {
  margin-top: 15px;
  position: absolute;
}

.error {
  color: red;
  font-size: 8px;
}

.picture_input {
  font-size: 15px;
}

#new-item-sub-category-error {
  position: absolute;
  bottom: -20px;
}

#fashion-item-description-error {
  position: absolute;
  bottom: -35px;
}

.descrip_paragraph{
  font-size: 10px;
}

#fashion-item-brand-error {
  position: absolute;
  bottom: -20px;
}

#fashion-item-description-error {
  position: absolute;
  bottom: -20px;
}

#fashion-item-price-error {
  position: absolute;
  bottom: -20px;
  left: 0;
}

#fashion-item-url-error {
  position: absolute;
  bottom: -20px;
}

#fashion-item-image-error {
  position: absolute;
  bottom: -20px;
}