.mens_top{
  text-align: center;
  a{
  font-family: "Calisto MT Regular";
  margin: 0px 30px 0px 30px;
  }
}

.caret{

}

.item_nav_top{
  position: relative;
  display: inline-block;
}

.item_drop_shop_by {
  position: absolute;
  background-color: #eee;
  min-width: 150px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

.item_drop_shop_by a {
  text-align: left;
  font-family: "Calisto MT Regular";
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}
