
.item_navigation{
  display: none;
}

.item_nav {
  list-style-type: none;
  text-align: center;
  margin-top: 50px;
  padding: 0px;
}
.item_nav  > li{
  font-weight: bold;
  display: inline;
  padding: 0px 10px 0 10px;
  font-family: "Calisto MT Regular";
  a{
    color: black;
  }
}

.nav-cat-div{
}

.nav-cat-ul{
  position: relative;
  bottom: 0px;
  right: 30px;
  background-color: white;
  width: 100%;
  list-style-type: none;
  margin-top: 10px;
  text-align: center;
  display: none;
  font-family: "Calisto MT Regular";
  li{
    padding: 2px;
    a{
      color: black;
    }
  }
}