.mens_top{
  margin-bottom: 0px;
  text-align: center;
  a{
  color: black;
  font-family: "Calisto MT Regular";
  margin: 0px 50px 0px 10px;
  }
}

.womens_top{
  margin-bottom: 0px;
  text-align: center;
  a{
  color: black;
  font-family: "Calisto MT Regular";
  margin: 0px 50px 0px 10px;
  }
}

.your-items{
  margin-top: -4px;
  padding-top: 0px;
  text-align: center;
}

.your-items-all{
  font-family: "Calisto MT Regular";
  text-align: center;
}

.caret{
}

.item_sub_cat{
  margin-bottom: -10px;
}


.item_nav_top{
  position: relative;
  display: inline-block;
}

.item_nav_top_brand{
  position: relative;
  display: inline-block;
}

.item_drop_shop_by {
  z-index: 1;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

.item_drop_shop_by a {
  text-align: left;
  font-family: "Calisto MT Regular";
  color: black;
  padding: 5px 0px;
  text-decoration: none;
  display: block;
}

.item_drop_shop_by_brand {
  z-index: 1;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

.item_drop_shop_by_brand a {
  text-align: left;
  font-family: "Calisto MT Regular";
  color: black;
  padding: 5px 0px;
  text-decoration: none;
  display: block;
}
