.box{
  width: 300px !important;
  position: relative;
  left: 150px;
}

.image_div{
  position: relative;
  width: 280px;
  height: 280px;
  margin: 10px 5px 10px 5px;
  overflow: hidden;
  border: 1px solid;
  border-color: #eee;
  a{
    text-decoration: none !important;
  }
}

.image_div img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 300px;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.description_content{
  color: white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  visibility: hidden;
  width: 100%;
  height: 100%;
  font-family: "Calisto MT Regular";
  p{
    font-size: 15px;
    position: relative;
    top: 190px;
  }
}

.specials_table>td{
  color: white;
  padding: 0px 4px 0px 4px;
}

.specials_table>td:nth-child(1){
  font-size: 12px;
  margin-left: 5px;
}

.specials_table>td:nth-child(2){
  font-size: 25px;
}

.normal_table>td{
  padding: 0px 4px 0px 4px;
  color: white;
  font-size: 25px
}