.box{
  border: 1px solid;
  border-color: #ddd;
  height: 300px;
  width: 100%;
  text-align: center;
  margin: 0px;
  background:white;
  -webkit-transition:background 0.4s;
  -moz-transition:background 0.4s;
  -o-transition:background 0.4s;
  transition:background 0.4s;
  &:hover{
    background-color: #eee;
  }
}

img{
  vertical-align: middle;
  max-height: 60%;
  max-width: 80%;
  margin-top: 20px;
}

.description_item{
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  font-weight: bold;
}

.description_content{
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
  visibility: hidden;
}

.specials_table>td {
  padding: 5px;
  font-family: 'Roboto Slab', serif;
}

.specials_table>td:nth-child(1){
  visibility: hidden;
  font-size: 20px;
}

.specials_table>td:nth-child(3){
  background-color: yellow;
  font-size: 20px;
}

.normal_table>td {
  padding: 5px;
  font-family: 'Roboto Slab', serif;
}

.normal_table>td:nth-child(1){
  visibility: hidden;
}


.normal_table>td:nth-child(3){
  background-color: #aaa;
  font-size: 20px;
  color: white;
}