$deep-orange: #FF7043;
$black: #000;


.navigation {
  h1 {
    text-align: center;
    color: $black;
    &:visited {
      color: $black;
    }
    &:hover {
      color: $black;
    }
    a {
      text-decoration: none;
      color: $black;
    }
  }
  ul {
    list-style-type: none;
    float: right;
    margin-top: -30px;
    margin-right: 10px;
    li {
      display: inline;
      margin-right: 10px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: $black;
      }
    }
  }
}