$black: #000;

.navigation {
  h1 {
    text-align: center;
    color: $black;
    font-family: 'Roboto Slab', serif;
    margin-bottom: -20px;
    font-size: 60px;
    &:visited {
      color: $black;
    }
    &:hover {
      color: $black;
    }
    a {
      text-decoration: none;
      color: $black;
    }
  }
  ul {
    list-style-type: none;
    float: right;
    margin-top: -10px;
    li {
      display: inline;
      padding: 10px;
      font-weight: bold;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: $black;
      }
    }
  }
}

.client-login {
  position: relative;
  top: -40px;
  left: 150px;
  font-weight: normal;

}

.client-path {
  position: relative;
  top: 0px;
  font-weight: normal;
}
