.main_photo{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 400px;
  background-image: url("main_lambo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.side_nav_mens {
  width: 150px;
  list-style-type: none;
  h4{
    font-family: "Calisto MT Regular";
  }
  li{
    padding: 5px 0px 5px 0px;
    font-family: "Calisto MT Regular";
    font-size: 18px;
    a{
      color: black;
    }
  }
}

.menu-side{
  position: relative;
  width: 200px;
  height: 100%;
  margin-top: 0px;
}

.mens-main-menu-side{
  margin-top: 70px;
  position: relative;
  width: 200px;
  height: 100%;
  margin-top: 0px;
}
