.main_photo{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 400px;
  background-image: url("main_lambo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.side_nav_mens, .no_picture_side_nav_mens {
  position: absolute;
  width: 150px;
  margin-top: 149px;
  list-style-type: none;
  h4{
    font-family: "Calisto MT Regular";
  }
  li{
    padding: 3px 0px 3px 0px;
    font-family: "Calisto MT Regular";
    font-size: 16px;
    a{
      color: black;
    }
  }
}

.menu-side-search-bar{
  position: absolute;
  width: 150px;
  margin-top: 65px;
  list-style-type: none;
  h4{
    font-family: "Calisto MT Regular";
  }
  li{
    padding: 3px 0px 3px 0px;
    font-family: "Calisto MT Regular";
    font-size: 16px;
    a{
      color: black;
    }
  }

}


.menu-side-search{
  position: relative;
  width: 200px;
  height: 100%;
  margin-top: 0px;
  margin-right: 5px;
}

.menu-side{
  position: relative;
  width: 200px;
  height: 100%;
  margin-top: 0px;
  margin-right: 5px;
}

.mens-main-menu-side{
  position: absolute;
  width: 200px;
  height: 100%;
  margin-top: -75px;
}

.shop_by{
  font-weight: bold;
}