.show-box{
  postition: relative;
  margin-left: 250px;
  margin-top: 80px;
}

.image-show-box{
  position: absolute;
  float: left;
  img{
    width: 400px;
  }
}

.description-show-box{
  margin-left: 430px;
}
