.scrollable-box {
  width: 430px;
  height: 430px;
  overflow-y: scroll;
  overflow-x:hidden;
  // float: left;
  margin-left: 10px;
  h2{
    margin-top: 0px;
  }
  h3{
    margin-top: 0px;
  }
}

.image-show-box{
  // float: left;
  img{
    width: 430px;
  }
}

.show-box{
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  width: 870px;
  margin-left: 145px;
  height: 450px;
  border-color: #ccc;
}

.show-button{
  img{
    cursor: pointer;
    width: 100px;
    display: block;
    margin: 40px auto 0px auto;
  }
}

.arrowed-desktop {
    position: relative;
  }

.arrow-1-desktop {
  height: 40px; width: 40px;
  border: 15px solid black;
  border-width: 2px 2px 0 0;
  transform: rotate(225deg);
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 60px;
}