.show-box{
  postition: relative;
  margin-left: 200px;
}

.image-show-box{
  position: absolute;
  float: left;
}

.description-show-box{
  margin-left: 330px;

  h3:first-of-type{
    text-align: center;
  }
}
