.about_header{
  text-align: center;
  margin-top: 50px;
  font-family: "Calisto MT Regular";
}

.contact_header{
  text-align: center;
  margin-top: 50px;
  font-family: "Calisto MT Regular";
}

.about_page{
  margin-top: 20px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 5px 0px 5px 0px;
  background-color: #fff;
  border-color: #eee;
  font-family: "Calisto MT Regular";
  p{
    font-size: 18px;
  }
}

.contact_page{
  margin-top: 20px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 5px 0px 5px 0px;
  background-color: #fff;
  border-color: #eee;
  font-family: "Calisto MT Regular";
  p{
    font-size: 18px;
  }
}
