.about_page{
  margin-top: 50px;
  border: 1px solid;
  padding: 10px;
  background-color: #fff;
  border-color: #eee;
  box-shadow: 5px 5px 2.5px #888888;
  font-family: "Calisto MT Regular";
  p{
    font-size: 18px;
  }
}

.contact_page{
  margin-top: 50px;
  border: 1px solid;
  padding: 10px;
  background-color: #fff;
  border-color: #eee;
  box-shadow: 5px 5px 2.5px #888888;
  font-family: "Calisto MT Regular";
  p{
    font-size: 18px;
  }
}