.all-blogs{
  width: 80%;
  margin-top: 50px;
}

.center-blogs{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-description{
  margin-top: 5px;
  font-family: "Calisto MT Regular";
  font-weight: bold;
}

.shop-more-blog{
  text-align: center;
}