.sale_feat_h1 {
  .your-items{
    text-align: center;
    font-family: "Calisto MT Regular";
    padding-top: 10px;
  }
}

.your-items{
  text-align: center;
  font-family: "Calisto MT Regular";
}
.your-items-all{
  margin-top: 0px;
}

.sort-table {
  font-family: "Calisto MT Regular";
  tr{
    &:nth-child(even){
      background-color: #fff;
    }
  }
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  th{
    height: 50px;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid;
    border-color: #eee;
    a{
      padding: 2px;
      color: black;
    }
  }
  td{
    border-bottom: 1px solid;
    border-color: #eee;
    padding: 10px;
    text-align: left;
    height: 100px;
  }
}

.thumbnail{
  margin-left: auto;
  margin-right: auto;
}

.table-image{
  text-align: center;
}
