.box_featured{
  width: 495px !important;
  position: relative;
  left: 80px;
}

.image_div_featured{
  position: relative;
  width: 470px;
  height: 470px;
  margin: 10px 5px 10px 5px;
  overflow: hidden;
  border: 1px solid;
  border-color: #eee;
  a{
    text-decoration: none !important;
  }
}

.image_div_featured img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 495px;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.brands_image_div_featured{
  border-color: #fff;
    img{
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100px;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }
}

.description_content_featured{
  color: white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  visibility: hidden;
  width: 100%;
  height: 100%;
  font-family: "Calisto MT Regular";
  p{
    font-size: 25px;
    position: relative;
    top: 330px;
  }
}

.specials_table_featured>td{
  color: white;
  padding: 5px 5px 0px 5px;
}

.specials_table_featured>td:nth-child(1){
  font-size: 20px;
  margin-left: 5px;
}

.specials_table_featured>td:nth-child(2){
  font-size: 35px;
}

.normal_table_featured>td{
  padding: 0px 5px 0px 0px;
  color: white;
  font-size: 35px
}