.image_bee{
  width: 90px;
  height: 90px;
  top: 10px;
  left: 220px;
}

.logo-image>img{
}

.logo-image{
  position: relative;
  left: 15%;
  width: 90px;
  bottom: 100px;
  margin-bottom: -105px;
  h2{
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
  font-family: "Calisto MT Regular";
  }
}

.main_image_bee{
  width: 120px;
  height: 120px;
  top: 0px;
  left: 220px;
}

.main-logo-image{
  position: relative;
  left: 15%;
  width: 90px;
  bottom: 110px;
  margin-bottom: -110px;
}