.sticky-nav-mens{
  background-color: rgba(255,255,255,0.8);
  background-color: white;
  -moz-box-shadow:0px 3px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow:0px 3px 3px rgba(0,0,0,0.3);
  box-shadow:0px 3px 3px rgba(0,0,0,0.3);
  height: 98px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.image-b {
  img{
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-top: 10px;
  }
}

.instaboss-logo-nav{
  p{
    margin-left: 50px;
  }
  p:first-child{
    margin-top: -6px;
    font-size: 18px;
  }
  p:last-child{
    font-size: 14px;
    font-weight: bold;
    margin-top: -20px;
  }
}

.banner-nav-space{
  height: 98px;
}

.all-nav-link{
  text-align: center;
  margin-top: -30px;
  a{
    color: black;
    font-family: "Calisto MT Regular";
    padding: 10px 30px 10px 30px;
    &:hover{
      color: black;
    }
  }
}

.your-items{
  margin-top: 10px;
  padding-top: 0px;
  text-align: center;
  margin-bottom: -8px;
}

.your-items-all{
  font-family: "Calisto MT Regular";
  text-align: center;
}

.item_sub_cat{
  margin-bottom: -10px;
}

.item_nav_top{
  position: relative;
  display: inline-block;
}

.item_nav_top_brand{
  position: relative;
  display: inline-block;
}

.item_drop_shop_by {
  z-index: 1;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  overflow: auto;
  box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.8);
  margin-top: 8px;
  a{
    text-align: left;
    font-family: "Calisto MT Regular";
    color: black;
    padding: 4px 5px;
    margin: 0px 5px 0px 5px;
    text-decoration: none;
    display: block;
  }
}

.item_drop_shop_by_brand {
  z-index: 1;
  display: none;
  position: absolute;
  overflow: auto;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  margin-top: 8px;
  a{
    text-align: left;
    font-family: "Calisto MT Regular";
    color: black;
    padding: 4px 5px;
    text-decoration: none;
    display: block;
  }
}

.arrow-down-shop {
  position: relative;
  left: 95px;
  bottom: 12px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
}

.arrow-down-brand {
  position: relative;
  left: 95px;
  bottom: 12px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  }

.arrow-active{
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}