.hr_main{
  height: 1px;
  margin: 0px 0px 0px 20px;
  width: 94%;
  border: none;
  color: #ccc;
  background-color: #ccc;
}

.your-items-main{
  margin-top: 10px;
  padding-top: 0px;
  text-align: center;
  margin-bottom: -8px;
  font-family: "Calisto MT Regular";
  font-size: 30px;
}