.images{
  height: 7.5%;
  width: 7.5%;
  margin: 15px;
}

.text{
  height: 14.25%;
  width: 14.25%;
  margin: 15px;
}

img[alt*="nike"]{
  margin-left: 30px;
}

img[alt*="adidas"]{
  height: 8.25%;
  width: 8.25%;
}