.images{
  height: 25%;
  width: 25%;
  margin: 10px 2.5% 10px 2.5%;
}

.text{
  height: 25%;
  width: 25%;
  margin: 10px 2.5% 10px 2.5%;
}

[alt="alice_mccall"]{
  margin-left: 4%;
}

[alt="sunday_somewhere"]{
  margin-left: 4%;
}

[alt="moreporks"]{
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  width: 25%;
}

[alt="new_balance"]{
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  width: 25%;
}

[alt="adidas"]{
  background-color: white;
  padding-left: 4%;
  padding-right: 4%;
  width: 25%;
}

[alt="victorias_secret"]{
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  // margin-top: 20px;
  // padding: 2.5% 2.5% 2.5% 2.5%;
  width: 25%;
}

[alt="auguste"]{
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 7%;
  // padding: 2.5% 2.5% 2.5% 2.5%;
  width: 25%;
}

[alt="tony_bianco"]{
  margin-top: 10px;
}

