#mc_embed_signup_scroll{
  font-family: "Calisto MT Regular";
}

#mc_embed_signup label{
  font-size: 18px;
}

.womens_chimp label{
  font-size: 40px;
  margin: -40px 0px 0px -40px;
}

.mens_chimp label{
  margin: 20px 0px 0px -50px;
}