.bjorn_borg_mens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("bjornborghero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  margin-bottom: 20px;
}

.new_balance_mens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("New Balance hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  margin-bottom: 20px;
}

.sunday_somewhere_mens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("sundaysomewhere hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  margin-bottom: 20px;
}

.mvmt_mens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("mvmt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 45%;
  margin-bottom: 20px;
}

.morepork_mens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("moreporks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  margin-bottom: 20px;
}

.just_another_fisherman_mens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("justanotherfisherman.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  margin-bottom: 20px;
}

.nautica_mens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("nauticahero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  margin-bottom: 20px;
}

.retro_marine_mens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("retromarine hero1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  margin-bottom: 20px;
}

.timberland_mens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("timberlandhero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 85%;
  margin-bottom: 20px;
}