.banner-scss {
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:400px;
  background-size:cover;
  background-repeat:no-repeat;
  margin-bottom: 10px;
}

.your-items{
  display: none;
  margin-top: 10px;
  padding-top: 0px;
  text-align: center;
  margin-bottom: -8px;
}

.item_sub_cat{
  margin-bottom: -10px;
}

.desktop-categories{
  display: block;
  position: absolute;
  top: 399px;
  background-color: rgba(0,0,0,0.8);
  font-family: "Calisto MT Regular";
  width: 100%;
  h1{
    padding: 5px 0px 5px 0px;
    color: white;
    font-size: 27px;
    margin-left: 20px;
  }
}

.scroll-fixed-categories{
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 68px;
  z-index: 1;
}

.accessories_hero_mens{
  @extend .banner-scss;
  background-image: url("Accessories2.jpg");
  background-position:50% 25%;
}

.all_hero_mens{
  @extend .banner-scss;
  background-image: url("All.jpg");
  background-position: 50% 75%;
}

.formal_hero_mens{
  @extend .banner-scss;
  background-image: url("Formal.jpg");
  background-position: 50% 75%;
}

.shoe_hero_mens{
  @extend .banner-scss;
  background-image: url("yeezy.jpg");
  background-position: 50% 90%;
}

.short_hero_mens{
  @extend .banner-scss;
  background-image: url("Shorts & Swim 1.jpg");
  background-position: 50% 75%;
}

.long_hero_mens{
  @extend .banner-scss;
  background-image: url("Longs.jpg");
  background-position: 50% 75%;
}

.sunglass_hero_mens{
  @extend .banner-scss;
  background-image: url("Sunglasses & Watches.jpg");
  background-position: 50% 75%;
}

.top_hero_mens{
  @extend .banner-scss;
  background-image: url("Tops.jpg");
  background-position: 50% 55%;
}

.lifestyle_hero_mens{
  @extend .banner-scss;
  background-image: url("lifestyle.jpg");
  background-position: 50% 75%;
}

.sale_hero_mens{
  @extend .banner-scss;
  background-image: url("On Sale.jpg");
  background-position: 50% 75%;
}