.shop_the_look_mens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("shop the look mens.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  margin-bottom: 20px;
}

.shop_the_look_womens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("shop the look womens.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 15%;
  margin-bottom: 20px;
}