.description-shop-the-look-show-box{
  right: 220px;
  margin-top: -20px;
  margin-left: 400px;
  margin-right: 50px;
  h2{
    text-align: center;
  }
  p{
    text-align: center;
  }
}

.show-button-shop-look{
  img{
    cursor: pointer;
    width: 100px;
    display: block;
    margin: 10px auto 30px auto;
  }
}