.sorting_class{
  text-align: center;
  list-style-type: none;
  padding: 0px;
  height: 30px;
  margin: 20px auto 0px;
  li{
    font-family: "Calisto MT Regular";
    font-size: 15px;
    display: inline-block;
    margin: 0px 7px;
    cursor: pointer;
  }
}


.btn-active{
  color: black;
  font-weight: bold;
}

