.womens_main_photo{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("Showpo hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 35%;
  margin-bottom: 20px;
}
