.all_women{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("All Womens.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 55%;
}

.all_accessorie_women{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("Accessories_women.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 15%;
}

.dress_women{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("Dresses1_women.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 35%;
}

.jean_women{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("JeansLeggings_women.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

.life_style_women{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("Home & lifestyle_women.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

.shoe_women{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("shoes_women.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

.skirt_women{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("Shorts & Skirts_women.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

.sunglass_women{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("Sunglasses & Watches1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

.swim_women{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("Swim & Beach_women.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

.top_women{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("Tops_women.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.on_sale_women{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("On Sale_women.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  margin-bottom: 20px;
}