.sea_folly_womens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("seafolly_hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  margin-bottom: 20px;
}

.lorna_jane_womens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("lorna_jane_new_hero.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:10% 25%;
  margin-bottom: 20px;
}

.tony_bianco_womens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("tony bianco.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:10% 75%;
  margin-bottom: 20px;
}

.daniel_wellington_womens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("daniel_wellington_hero_womens.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  margin-bottom: 20px;
}

.alice_mccall_womens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("alice_mccall_hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  margin-bottom: 20px;
}

.forever_21_womens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("forver21_hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 45%;
  margin-bottom: 20px;
}

.sunday_somewhere_womens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("ss_hero_womens.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  margin-bottom: 20px;
}

.top_shop_womens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("topshop_new_hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 05%;
  margin-bottom: 20px;
}

.victorias_secret_womens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("vic_secret_new_hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 15%;
  margin-bottom: 20px;
}

.auguste_womens{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-image: url("auguste_hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 15%;
  margin-bottom: 20px;
}
