@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .your-items-main{
    font-size: 50px;
  }

  .mens_main_photo{
    display: none;
  }
  .womens_main_photo{
    display: none;
  }

  .mobile-categories-feat{
    display: block;
    position: fixed;
    top: 130px;
    background-color: rgba(0,0,0,0.7);
    font-family: "Calisto MT Regular";
    width: 100%;
    height: 100px;
    z-index: 1;
    h1{
      line-height: 100px;
      padding: 0px;
      margin: 0px;
      color: white;
      font-size: 90px;
      margin-left: 20px;
    }
  }

  .mobile-categories{
    display: block;
    position: absolute;
    top: 430px;
    background-color: rgba(0,0,0,0.7);
    font-family: "Calisto MT Regular";
    width: 100%;
    height: 100px;
    z-index: 1;
    h1{
      line-height: 100px;
      padding: 0px;
      margin: 0px;
      color: white;
      font-size: 100px;
      margin-left: 20px;
    }
  }

  .desktop-categories{
    display: none;
  }

  .categorise{
    display: none;
  }

  .mobile-sort{
    display: block;
    background-color: yellow;
  }

  .sticky-nav-mens{
    display: none;
  }
  .banner-nav-space{
    display: none;
  }

  .image_bee{
    width: 70px;
    height: 70px;
    top: 10px;
    left: 220px;
  }

  .logo-image>img{
  }

  .logo-image{
    position: absolute;
    margin-left: 8%;
  }

  .mobile-spacing{
    height: 130px;
  }

  .mobile-navigation-main{
    display: block;
    position: fixed;
    height: 130px;
    background-color: white;
    width: 100%;
    z-index: 10;
    h1{
      font-size: 100px;
    }
    h2{
      font-family: "Calisto MT Regular";
      float: right;
      position: relative;
      color:black;
      right: 30px;
      top: -70px;
      font-size: 50px;
      a{
        text-decoration: none;
        color:black;

      }
    }
  }

  .border-bottom-navigation-mobile{
    height:1px;
    border-bottom: 1px;
    color: black;
    background-color: black;
    margin-top:30px;
  }


  .scrollable-box {
    overflow-y: visible;
    overflow-x: visible ;
    float: left;
    height: 100%;
    h3{
      margin-top: 15px;
    }
  }

.image-show-box{
  float: none;
  img{
    width: 430px;
  }
}

.show-box{
  border: none;
}

  .mens-main-menu-search{
    display: none;
  }

  .men_shoe_sub_cat_pad{
    .sorting_class{
      li{
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }

  .show-button-shop-look{
    img{
      cursor: pointer;
      width: 100px;
      display: block;
      margin: 10px auto 30px auto;
    }
  }

  #mc_embed_signup label{
    font-size: 40px;
    display: inline;
    margin-left: 0px;
  }

  #mc_embed_signup input.email{
    width: 60%;
    height: 60px;
    font-size: 40px;
  }
  #mc_embed_signup .button{
    height: 60px;
    font-size: 30px;
  }

  .womens_chimp input.email{
    width: 68% !important;
  }

  .mobile_search_form{
    margin-top: 500px;
    padding: 40px;
    .form-control{
      height: 100px;
      font-size: 50px;
      z-index: 0 !important;
    }
    .btn-default{
      height: 100px;
      width: 100px;
    }
    .input-group{
      z-index: 0 !important;
    }
  }

  .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
    z-index: 0 !important;
  }

  .show-button{
    img{
      width: 300px;
    }
  }

  .normal_table > td{
    padding-left: 25px;
  }

  .search_bar{
    visibility: hidden;
  }

  .arrowed-desktop{
    display: none;
  }

  .arrowed {
    position: relative;
  }

  .arrow-1 {
    height: 100px; width: 100px;
    border: 65px solid black;
    border-width: 5px 5px 0 0;
    transform: rotate(225deg);
    margin-top: 110px;
    margin-bottom: 100px;
    margin-left: 350px;
  }

  .shop-look-arrow{
    margin-left: 400px;
  }

  .arrow-left { transform:rotate(45deg) }

  .contact_header{
    font-size: 70px;
  }

  .contact_page{
    p{
      font-size: 30px;
    }
  }

  .about_header{
    font-size: 70px;
  }
  .about_page{
    p{
      font-size: 30px;
    }
  }

  .hamburger-slider{
    display: none;
    top: 130px;
    background-color: rgba(255,255,255, 1);
    position: absolute;
    z-index: 1;
    overflow: hidden;
    height: 1900px;
    width: 105vw;
    right: 1000px;
    ul{
      margin-left: -50px;
      list-style-type: none;
      margin-top: 90px;
    }
    li{
      font-size: 65px;
      padding: 5px;
      font-family: "Calisto MT Regular";
      a{
        color: black;
      }
    }
    .bottom_list_tags{
      margin: 50px 0px 50px 0px;
      padding: 30px 0px 30px 0px;
      border-top: 2px solid;
      border-bottom: 2px solid;
    }
    .about_contact_list_tags{
      text-align: center;

    }
  }

  .women-slider{
    height: 2000px;
  }

  .lap_nav{
    display: none;
  }

  .col-sm-6{
    width: 100% !important;
  }

  .rectangle_left{
    width: 100%;
    border-right: 0px;
  }

  .rectangle_right{
    margin-top: -50px;
    width: 100%;
  }

  .mens-main-menu-side{
    display: none;
  }

  .mens_main{
    height: 350px;
  }

  .mens_main:hover > .overlay {
    height: 350px;
  }

  .womens_main{
    height: 350px;
  }

  .womens_main:hover > .overlay {
    height: 350px;
  }

  .call_to_action{
    h3{
      font-size: 40px;
    }
  }

  .description_content p{
    top: 250px;
  }

  .hr_main{
    height: 1px;
    margin: -10px 0px 0px -20px;
    width: 135%;
    border: none;
    color: #ccc;
    background-color: #ccc;
    display: block;
  }

  .logo-image{
    margin-left: 18%;
    margin-top: 10px;
  }

  .show-box{
  margin-left: 0px;
  height: 100%;
  }

  .image-show-box{
    margin-left: -80px;
    position: relative;
    float: left;
    img{
      width: 915px;
    }
  }

  .description-show-box{
    position: relative;
    margin: 0px;
    text-align: center;
    display: block;
    display: inline-block;
    width: 755px;
    h3{
      margin-top: 20px;
      font-size: 45px;
    }
    p{
      font-size: 30px;
      padding: 5px;
      a{
        font-size: 50px;
      }
    }
    .btn{
      margin-top: 20px;
      font-size: 45px;
    }
  }

  .description-shop-the-look-show-box{
    position: relative;
    width: 100%;
    margin-left: -60px;
    text-align: center;
    display: block;
    display: inline-block;
    h3{
      margin-top: 20px;
      font-size: 45px;
    }
    p{
      font-size: 30px;
      padding: 5px;
      a{
        font-size: 50px;
      }
    }
  }

  .show-button-shop-look{
    img{
      cursor: pointer;
      width: 300px;
      display: block;
      margin: 30px auto 60px auto;
    }
  }

  .description_content p{
    font-size: 35px;
    top: 280px;
  }

  .your-items{
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 10px;
    font-size: 70px;
  }

  .mob-ul{
    border-bottom: 1px solid;
  }

  .image_div img{
    height: 460px;
  }

  .image_div{
    width: 465px;
    height: 460px;
    margin: 5px;
    padding: 0px;
    border: 0px;
  }

  .box{
    left: 0px;
    width: 470px !important;
  }

  .instagram_logo>a>img{
    margin-right: -70px;
  }

  .mobile_container{
    width: 100% !important;
    position: relative;
  }

  .mobile_row{
    width: 100% !important;
    padding: 0px;
    margin: 0px;
  }

  .menu-side{
    display: none;
  }

  .item_sub_cat{
    background-color:white;
    width: 100%;
    z-index: 10;
    height: 100%;
  }

  .sale_women{
    margin: 0px;
    height: 360px;
    border-bottom: 1px solid;
  }

  .sale_men{
    margin: 0px;
    height: 210px;
    border-bottom: 1px solid;
  }

  .sorting_class{
     li{
      font-size: 44px;
      margin: 5px 20px 0px 20px;
    }
  }

  .women_sub_cat_acc_pad {
    padding-bottom: 140px;
  }

  .men_shoe_sub_cat_pad {
    padding-bottom: 140px;
  }

  .men_top_sub_cat_pad {
    padding-bottom: 140px;
  }

  .specials_table > td:nth-child(2){
    font-size: 40px;
    margin-left: 20px;
  }

  .specials_table > td:nth-child(1){
    font-size: 35px;
  }

  .specials_table > td{
    padding: 0px 4px 0px 70px;
  }

  .normal_table > td{
    font-size: 45px;
  }

  .item_navigation_top_mens{
    display: none;
  }

  .item_navigation_top_womens{
    display: none;
  }

  .logos{
    h3{
      font-size: 50px;
      margin-top: 0px;
    }
  }

  .home-page{
    margin-left: 5%;
  }

  #nav-toggle { position: absolute; left: 50px; top: 50px; }

  #nav-toggle {
    cursor: pointer;
    padding: 15px 100px 35px 0px;
    margin-left: -20px;
  }

  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 105px;
    background: black;
    position: absolute;
    display: block;
    content: '';
  }
  #nav-toggle span:before {
    top: -20px;
  }
  #nav-toggle span:after {
    bottom: -20px;
  }

  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 250ms ease-in-out;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }

  #close-cross span, #close-cross span:before, #close-cross span:after{
    margin-top: 0px;
    position: absolute;
    right: 0px;
    z-index: 0.1;
    cursor: pointer;
    border-radius: 1px;
    height: 10px;
    width: 65px;
    background: black;
    position: absolute;
    display: block;
    content: '';
    width: 65px;
  }

  #close-cross span{
    background-color: white;
    height: 27px;
    right: -34px;
  }

  #close-cross span:before {
    background-color: black;
    bottom: 25px;
    transform: rotate(-45deg);
  }
  #close-cross span:after {
    background-color: black;
    bottom: 25px;
    transform: rotate(45deg);
  }

  .index_men_women{
    h2{
      font-size: 50px;
    }
  }

  .worldwide_shipping_main>p{
      font-size: 35px;
  }

  .shop-the-look-description{
    h2{
      position: relative;
      top: 280px;
      font-size: 60px;
    }
    p{
      top: 280px;
       position: relative;
       font-size: 40px;
    }
  }

  .womens_top {
    padding-bottom: 135px;
    li{
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .box_featured{
    width: 980px !important;
    position: relative;
    left: 0px;
  }

  .image_div_featured{
    position: relative;
    width: 940px;
    height: 940px;
    margin: 10px 5px 10px 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: #eee;
    a{
      text-decoration: none !important;
    }
  }

  .image_div_featured img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 980px;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }

  .brands_image_div_featured{
    border-color: #fff;
      img{
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100px;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
      }
  }

  .description_content_featured{
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    visibility: hidden;
    width: 100%;
    height: 100%;
    font-family: "Calisto MT Regular";
    h2{
      top: 700px;
      font-size: 100px;
    }
    p{
      font-size: 65px;
      position: relative;
      top: 700px;
    }
  }

  .specials_table_featured>td{
    color: white;
    padding: 0px 34px 0px 34px;
  }

  .specials_table_featured>td:nth-child(1){
    font-size: 50px;
    margin-left: 5px;
  }

  .specials_table_featured>td:nth-child(2){
    font-size: 95px;
  }

  .normal_table_featured>td{
    padding: 0px 34px 0px 34px;
    color: white;
    font-size: 95px
  }
}
