@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  /*********************
  WOMENS BRANDS
  *********************/

  [alt="princess polly brand"]{
    margin-top: 33px;
  }
  .brands_image_div>[alt="top shop brand"]{
    height: 120px;
  }

  .brands_image_div>[alt="new balance womens"]{
    height: 240px;
  }

  .brands_image_div>[alt="tony bianco brand"]{
    height: 45px;
  }
  .brands_image_div>[alt="sunday somewhere brand"]{
     height: 130px;
  }

  .brands_image_div>[alt="showpo brand"]{
    height: 80px;
  }

  .brands_image_div>[alt="senso brand"]{
    height: 80px;
  }

  .brands_image_div>[alt="sea folly brand"]{
    height: 200px;
  }

  .brands_image_div>[alt="samantha willis brand"]{
    height: 120px;
  }

  .brands_image_div>[alt="princess polly brand"]{
    height: 60px;
  }

  .brands_image_div>[alt="mura brand"]{
    height: 220px;
  }

  .brands_image_div>[alt="lorna jane brand"]{
    height: 200px;
  }

  .brands_image_div>[alt="jo mercer brand"]{
    height: 60px;
  }

  .brands_image_div>[alt="esther brand"]{
    height: 220px;
  }

  .brands_image_div>[alt="alice mccall brand"]{
    height: 190px;
  }

  .brands_image_div>[alt="auguste brand"]{
    height: 240px;
  }

  .brands_image_div>[alt="victorias secret brand"]{
    height: 240px;
  }



  /*********************
  MENS BRANDS
  *********************/

  .brands_image_div>[alt="i love ugly brand"]{
    height: 250px;
  }
  .brands_image_div>[alt="just another fisherman brand"]{
    height: 240px;
  }
  .brands_image_div>[alt="leo joseph brand"]{
    height: 230px;
  }
  .brands_image_div>[alt="morepork brand"]{
    height: 260px;
  }
  .brands_image_div>[alt="mvmt brand"]{
    height: 200px;
  }
  .brands_image_div>[alt="new balance brand"]{
    height: 240px;
  }
  .brands_image_div>[alt="nike brand"]{
    height: 140px;
  }
  .brands_image_div>[alt="retro marine brand"]{
    height: 220px;
  }
  .brands_image_div>[alt="sunday somehwere brand"]{
    height: 230px;
  }
  .brands_image_div>[alt="windsor smith"]{
    height: 35px;
  }
  .brands_image_div>[alt="new balance womens"]{
    height: 230px;
  }
  .brands_image_div>[alt="bronze snake"]{
    height: 210px;
  }
  .brands_image_div>[alt="mj bale"]{
    height: 300px;
  }
  .brands_image_div>[alt="adidas"]{
    height: 230px;
  }
  .brands_image_div>[alt="the modest vintage player"]{
    height: 270px;
  }


}