@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
/***************
main - page scss
***************/
  .social-icons-root{
    text-align: center;
    margin-top: 0px;
    img{
      display: inline-block;
      height: 100px;
      padding: 10px;
    }
    p{
      font-size: 30px;
    }
  }

  .index-main{
    h1{
      margin-top: 40px;
      font-size: 120px;
    }
  }

  .main_page_photo{
    display: none;
  }

  .root-paragraph-one{
    margin-top: 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    p{
      text-decoration: none;
      font-size: 50px;
    }
  }

  .shop-mens-banner{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 350px;
    h2{
      line-height: 350px;
      font-size: 70px;
    }
  }
  .shop-womens-banner{
    height: 350px;
    h2{
      line-height: 350px;
      font-size: 70px;
    }
  }

  #carosel-brands{
    height: 250px;
  }
  .brand-images{
    height: 250px;
  }
  .slide-brands{
    img{
      height: 250px;
    }
  }

  #carosel-retail{
    height: 250px;
  }
  .retail-images{
    height: 250px;
  }
  .slide-retail{
    img{
      height: 250px;
    }
  }

  .root-paragraph-two{
    font-size: 30px;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  .shop-mens-banner{
    h2{
      font-size: 40px;
    }
  }
  .shop-womens-banner{
    h2{
      font-size: 40px;
    }
  }


}