$brown-bold: "Brown-bold";
$brown-italic: "Brown-bold-italic";
$brown-light: "Brown-light";
$brown-regular: "Brown-regular";
$brown-thin: "Brown-thin";

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
/***************
main - page scss
***************/

  .footer-main-desktop{
    display: none;
  }

  .footer-main-mob{
    display: block;
    background-color: #2E2E2E;
    text-align: center;
    height: 100%;
    ul{
      color: white;
      font-size: 25px;
      margin-top: 30px;
      li{
        font-family: $brown-thin;
        display: inline-block;
        padding: 10px;
      }
    }
    .mid-mob{
      p{
        color: white;
        font-size: 50px;
        font-family: $brown-regular;
      }
    }
  }

  .social-icon-main{
    text-align: center;
    width: 100%;
    img{
      width: 65px;
      margin: 0px 10px 0px 10px;
    }
  }

  .all-rights-mob{
    color: white;
    margin-top: 20px;
    p{
      font-family: $brown-thin;
    }
  }


  .text-under-mens-womens{
    display: none;
  }

  .text-above-mens-womens{
    display: block;
    width: 100%;
    margin-top: 40px;
    p{
      font-family: $brown-regular;
      font-size: 40px;
      color: black;
      text-align: center;
      padding: 80px 0px 80px 0px;
    }
  }

  .social-icons-root{
    text-align: center;
    margin-top: 0px;
    img{
      display: inline-block;
      height: 100px;
      padding: 10px;
    }
    p{
      font-size: 30px;
    }
  }

  .index-main{
    h1{
      font-size: 80px;
      margin-top: 40px;
      padding-bottom: 20px;
      border-bottom: 1px solid #aaa;
    }
  }

  .main_page_photo{
    display: none;
  }

  .root-paragraph-one{
    margin-top: 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    p{
      text-decoration: none;
      font-size: 50px;
    }
  }


  .shop-mens-banner {
    height: 600px;
    background-position: 0px -150px;
  }
  .shop-womens-banner{
    height: 600px;
  }

  #carosel-brands{
    height: 250px;
  }
  .brand-images{
    height: 250px;
  }
  .slide-brands{
    img{
      height: 250px;
    }
  }

  #carosel-retail{
    height: 250px;
  }
  .retail-images{
    height: 250px;
  }
  .slide-retail{
    img{
      height: 250px;
    }
  }

  .root-paragraph-two{
    position: relative;
    height: 100%;
    p{
      position: relative;
      font-size: 40px;
      width: 500px;
      font-family: $brown-thin;
      left: 50%;
      margin-left: -250px;
    }
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  .shop-mens-banner{
    h2{
      font-size: 40px;
    }
  }
  .shop-womens-banner{
    h2{
      font-size: 40px;
    }
  }


}