$calisto: "Calisto MT Regular";

.banner-nav-space{
  height: 68px;
}

/***********************
STICKY NAVIGATION FIRST DIV
***********************/
.sticky-nav-mens{
  background-color: rgba(255,255,255,0.8);
  background-color: white;
  -moz-box-shadow:0px 3px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow:0px 3px 3px rgba(0,0,0,0.3);
  box-shadow:0px 3px 3px rgba(0,0,0,0.3);
  height: 68px;
  position: fixed;
  width: 100%;
  z-index: 100;
  a{
    color: black;
    text-decoration: none;
    &:hover{
      color: black;
    }
  }
  h1{
    position: absolute;
    font-family: $calisto;
    margin-left: 20px;
  }
}

.all-nav-link{
  text-align: center;
  margin-top: 35px;
  width:835px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  a{
    color: black;
    font-family: $calisto;
    padding: 10px 20px 10px 20px;
    &:hover{
      color: black;
    }
  }
}



/***********************
DROP DOWNS BRAND AND SHOP BY NAVIGATIOn
***********************/
.your-items-all{
  font-family: $calisto;
  text-align: center;
}

.item_nav_top{
  position: relative;
  display: inline-block;
}

.shop_look_nav_top{
  position: relative;
  display: inline-block;
}

.item_nav_top_brand{
  position: relative;
  display: inline-block;
}

.item-drop-down-scss{
  z-index: 1;
  display: none;
  position: absolute;
  overflow: auto;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  margin-top: 8px;
}

.item-drop-down-anchor-tags-scss{
  text-align: left;
  font-family: $calisto;
  color: black;
  padding: 4px 5px;
  margin: 0px 5px 0px 5px;
  text-decoration: none;
  display: block;
}

.shop_drop_shop_by {
  @extend .item-drop-down-scss;
  min-width: 180px;
  a{
    @extend .item-drop-down-anchor-tags-scss;
  }
}

.item_drop_shop_by {
  @extend .item-drop-down-scss;
  min-width: 180px;
  a{
    @extend .item-drop-down-anchor-tags-scss;
  }
}

.item_drop_shop_by_brand {
  @extend .item-drop-down-scss;
  min-width: 160px;
  a{
    @extend .item-drop-down-anchor-tags-scss;
  }
}




/*********************
DROP DOWN ARROWS ON NAVIGATION
*********************/
.arrow-drop-down-scss {
  position: relative;
  bottom: 12px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
}

.arrow-down-shop-look{
  left: 133px;
  @extend .arrow-drop-down-scss;
}

.arrow-down-brand{
  left: 80px;
  @extend .arrow-drop-down-scss;
}

.arrow-down-shop {
  left: 60px;
  @extend .arrow-drop-down-scss;
}

.arrow-active{
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.search-tag{
  font-style: italic;
}

.search-container{
  width: 200px;
  position: absolute;
  right: 30px;
  top: 30px;
}

.search-btn{
  position: relative;
  float: left;
}

.search-input{
  position: relative;
  margin-left: 50px;
  input{
    border: none;
    border-bottom: 1px solid;
    padding: 3px;
    border-color: #ddd;
  }
}

/***********************
RESPONSIVE LAYOUT OF NAVIGATION
***********************/

@media only screen and (max-width: 1220px) {
  .all-nav-link{
    margin-left: 10px;
  }
  .sticky-nav-mens{
    h1{
      display: none;
    }
  }
}

@media only screen and (max-width: 1027px) {
  .all-nav-link{
    width: 600px;
  }
  .sticky-nav-mens{
    height: 100px;
  }
  .banner-nav-space{
    height: 100px;
  }
}


@media only screen and (max-width: 840px) {
  .all-nav-link{
    width: 500px;
  }
}

@media only screen and (max-width: 730px) {
  .sticky-nav-mens{
    height: 140px;
  }
  .banner-nav-space{
    height: 140px;
  }
  .all-nav-link{
    width: 100%;
    margin-left: 0px;
    margin-top: 75px;
  }
  .search-container{
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .sticky-nav-mens{
    font-size: 15px;
    padding: 0px;
    height: 140px;
  }
  .banner-nav-space{
    height: 140px;
  }
}

@media only screen and (max-width: 435px) {
  .sticky-nav-mens{
    height: 160px;
  }
  .banner-nav-space{
    height: 160px;
  }
}