<%= render "templates/mobile_nav/navigation_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h2 class="about_header">About</h2>
      <div class="about_page">
        <p>InstaBoss provides a hub to shop products featured in curated Instagram posts of your favourite brands & retailers from AUS/NZ and International.</p>
        <p>Easily search InstaBoss by category, shop the look, brand or by what is on sale providing an enhanced minimalist online shopping experience with the aesthetic pleasure of Instagram.</p><br>
        <p><u>For Brands & Retailers;</u></p>
        <p>InstaBoss provides a platform to upload lifestyle images featuring your gear or stock linking customers directly to the product(s) on your site. Listings can be easily edited, put on sale and promoted providing increased exposure to shoppers. To apply to list products with us please email us info@instaboss.co</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12"></div>
  </div>
</div>