<%= render "templates/navigation" %>
<div class="item_navigation_top_womens">
  <%= render "templates/item_navigation_womens" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="about_page">
        <h2>About</h2><hr>
        <p>InstaBoss.co are a team of designers, photographers and fashion bloggers.</p>
        <p>InstaBoss.co provides a hub to shop products featured in curated Instagram posts of your favorite fashion and lifestyle brands. All links direct you to reliable online retailers with free or affordable worldwide shipping.</p>
        <p>Easily search InstaBoss.co by category, brand or by what is on sale providing an enhanced minimalist online shopping experience with the aesthetic pleasure of Instagram.</p>
        <p>Enjoy.</p>
        <p>InstaBoss.co</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12"></div>
  </div>
</div>
<%= render 'templates/mail_chimp_form_womens' %>