<%= render "templates/navigation" %>
<div class="item_navigation_top_womens">
  <%= render "templates/item_navigation_womens" %>
</div>
<%= form_tag search_projects_path do %>
  <input name="query" type="text">
<% end %>

<% if @query == 0 %>
  <p>Sorry no results for
<% end %>