<%= render "templates/mobile_nav/navigation_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items">Featured Brands</h1>

    <a href="/women_brand/alice_mccall">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/alice_mccall_brand.jpg" border="0" alt="alice mccall brand">
        </div>
      </div>
    </a>

    <a href="/women_brand/auguste">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/auguste_brand.jpg" border="0" alt="auguste brand">
        </div>
      </div>
    </a>

    <a href="/women_brand/bronze_snake">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/bronze snake logo.png" border="0" alt="bronze snake">
        </div>
      </div>
    </a>

    <a href="/women_brand/coopers_st">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/cooper st logo.png" border="0" alt="cooper st">
        </div>
      </div>
    </a>

    <a href="/women_brand/esther">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/esther logo.jpg" border="0" alt="esther brand">
        </div>
      </div>
    </a>

    <a href="/women_brand/jo_mercer">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/jomercer.png" border="0" alt="jo mercer brand">
        </div>
      </div>
    </a>

    <a href="/women_brand/lorna_jane">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/lorna_brand.jpg" border="0" alt="lorna jane brand">
        </div>
      </div>
    </a>

    <a href="/women_brand/mura">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/mura boutique logo.png" border="0" alt="mura brand">
        </div>
      </div>
    </a>

    <a href="/women_brand/new_balance">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/new-balance-n-logo-0.jpg" border="0" alt="new balance womens">
        </div>
      </div>
    </a>

    <a href="/women_brand/princess_polly">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/ppolly logo.png" border="0" alt="princess polly brand">
        </div>
      </div>
    </a>

    <a href="/women_brand/samantha_wills">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/samantha wills logo.jpg" border="0" alt="samantha willis brand">
        </div>
      </div>
    </a>

    <a href="/women_brand/sea_folly">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/sea_folly_brand.jpg" border="0" alt="sea folly brand">
        </div>
      </div>
    </a>

    <a href="/women_brand/senso">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/senso logo.png" border="0" alt="senso brand">
        </div>
      </div>
    </a>

    <a href="/women_brand/showpo">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/Logo-a3.jpg" border="0" alt="showpo brand">
        </div>
      </div>
    </a>

    <a href="/women_brand/sunday_somewhere">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/brand_ss.png" border="0" alt="sunday somewhere brand">
        </div>
      </div>
    </a>

    <a href="/women_brand/tony_bianco">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/tony bianco logo.gif" border="0" alt="tony bianco brand">
        </div>
      </div>
    </a>

    <a href="/women_brand/windsor_smith">
      <div class="box_brands col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/WindsorSmith Logo.jpg" border="0" alt="windsor smith">
        </div>
      </div>
    </a>

  </div>
</div>
<%= render "templates/footer/footer_women" %>