<%= render "templates/navigation" %>
<%= render "templates/navigation_mobile_womens" %>
<div class="item_navigation_top_womens">
  <%= render "templates/item_navigation_womens" %>
</div>
<%= render "/templates/mobile_navigation_sliding_div_women" %>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
    <h2 class="contact_header">Contact</h2>
    <div class="contact_page">
      <p>To apply to list products with us or for any media & advertising enquiries please email us: info@instaboss.co</p>
      <p>Cheers,</p>
      <p>InstaBoss.co</p>
    </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12"></div>
  </div>
</div>