<div class="container">
  <div class="row">
    <div class="main_photo">
    </div>
  </div>
</div>
<%= render "templates/item_navigation" %>
<div class="container">
  <div class="row">
    <%= render "templates/side_navigation_womens" %>
    <%= render "templates/on_sale_nine" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <hr>
    <div class="col-md-2 col-sm-3 col-xs-3"></div>
    <%= render "templates/all_womens" %>
  </div>
</div>
