<div class="container">
  <div class="row">
    <ul>
      <li>login</li>
      <li>register</li>
      <li>sign out</li>
      <li>wommens</li>
      <li>mens</li>
      <li>kids</li>
      <li>sale</li>
    </ul>
  </div>
</div>