<div class="mobile-navigation-main">
  <div class="navigation">
    <a id="nav-toggle" href="#"><span></span></a>
    <h1><%= link_to "InstaBoss", root_path %></h1>
    <h2><%= link_to "MENS", men_path %></h2>
  </div>
</div>
<div class="mobile-spacing"></div>