<div class="container mobile-navigation-main">
  <div class="row">
    <div class="navigation">
      <% if current_page?(root_path) %>
        <div class="logo-image home-page">
      <% else %>
        <a id="nav-toggle" href="#"><span></span></a>
        <div class="logo-image">
      <% end %>
      </div>
      <% if current_page?(root_path) %>
        <h1>InstaBoss</h1>
      <% else %>
        <h1><%= link_to "InstaBoss", root_path %></h1>
      <% end %>
      <div class="border-bottom-navigation-mobile"></div>
    </div>
  </div>
</div>