<%= render "templates/mobile_nav/navigation_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>

<%= form_tag women_side_search_brand_path do %>
  <div class="input-group mobile_search_form">
    <input name="query" type="text" class="form-control" placeholder="Search">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="fa fa-search fa-4x" aria-hidden="true"></i></button>
    </span>
  </div>
<% end %>